@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --white: #fff;
    --black: #111;
    --blue: #3a80e9;
    --grey: #888;
    --darkgrey: #1b1b1b;
    --green: #61c96f;
    --red: #f94141;
    --pink: rgb(255, 124, 146);
    --neongreen:  #28d7a0;
    box-sizing: border-box;
    
  }
  body {
    margin: 0;
    font-family: "Inter", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--black);
    color:var(--white);
    overflow-x: hidden;
    /* height:200vh; */

  }


  ::selection{
    background-color:var(--pink) ;
    color:white;
  }
  ::-webkit-scrollbar {
    width: 0.3rem; 
}

::-webkit-scrollbar-thumb {
    background-color: #363938;
    border-radius: 3rem; 
    border: 2px solid #000;
}

a{
    color:var(--white) !important;
    text-decoration: none;
}
.selector {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.row-flex{
  width:95%;
  padding:2rem
}